torch==1.9.0
torchtext==0.10.0
torchvision==0.10.0
ftfy
regex
tqdm
omegaconf
pytorch-lightning
kornia==0.6.1
imageio==2.4.1  
einops
torch-optimizer
easydict
braceexpand
git+https://github.com/pvigier/perlin-numpy

svgwrite
svgpathtools
cssutils
numba
torch-tools
visdom

gradio==2.3.7

